* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


/* Así se agregan los comentarios en los archivos .css*/

/* Una declaración css se compone de un selector, una propiedad y un valor.

Selector | Apunta al elemento html que queremos estilizar o darle estilo
Propiedad | Aspecto que queremos cambiar
Valor | Configuracion de esa propiedad */

.menu-header {
  font-family: "Josefin Sans", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.navbar-brand {
    color: #cd022d;
}
.nav-link {
    color: #096648;
}
.nav-link:hover {
    color: #cd022d;
}
.btn {
    background-color: #cd022d;
    border-color: #cd022d;
    text-decoration-color: #ffffff;
}
.card-img-top {
    width: 50%;
    height: 50%;
}
.navbar-brand:hover {
    color: #096648;
}
.btn-submit {
    color:  #ffffff;
    background-color: #cd022d;
}
.encabezados-paginas {
    display: flex;
    justify-content: center;
    color: #096648;
    margin: 1%;
    font-family: "Josefin Sans", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.navbar-brand {
    color: #cd022d;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Josefin Sans", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.navbar-toggler {
    color: #ffffff;
}
.btn-outline-success-custom {
    color: #ffffff; /* Texto en blanco */
  }
  .btn-outline-success-custom:hover {
    background-color: #096648; /* Fondo verde al pasar el cursor */
    color: white; /* Texto en blanco */
  }
  .parrafo-agradecimientos{
    display: flex;
    justify-content: center;
  }